package {{.pkg}}

import (
	"fmt"
	"log"
	"regexp"

	"github.com/aws/aws-sdk-go/aws"
	"github.com/aws/aws-sdk-go/service/{{.pkg}}"
	"github.com/hashicorp/aws-sdk-go-base/tfawserr"
	"github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema"
	"github.com/hashicorp/terraform-plugin-sdk/v2/helper/validation"
	"github.com/hashicorp/terraform-provider-aws/internal/conns"
	"github.com/hashicorp/terraform-provider-aws/internal/flex"
	tftags "github.com/hashicorp/terraform-provider-aws/internal/tags"
	"github.com/hashicorp/terraform-provider-aws/internal/tfresource"
	"github.com/hashicorp/terraform-provider-aws/internal/verify"
)

func Resource{{.name | Title}}() *schema.Resource {
	return &schema.Resource{
		Create: resource{{.name | Title}}Create,
		Read:   resource{{.name | Title}}Read,
		Update: resource{{.name | Title}}Update,
		Delete: resource{{.name | Title}}Delete,
		Importer: &schema.ResourceImporter{
			State: schema.ImportStatePassthrough,
		},
		Schema: map[string]*schema.Schema{
    },
  }
}

func resource{{.name | Title}}Create(d *schema.ResourceData, meta interface{}) error {
	conn := meta.(*conns.AWSClient).{{.pkg | Title}}Conn

	return resource{{.name | Title}}Read(d, meta)  
}


func resource{{.name | Title}}Read(d *schema.ResourceData, meta interface{}) error {
	conn := meta.(*conns.AWSClient).{{.pkg | Title}}Conn

	return nil  
}

func resource{{.name | Title}}Update(d *schema.ResourceData, meta interface{}) error {
	conn := meta.(*conns.AWSClient).{{.pkg | Title}}Conn

	return resource{{.name | Title}}Read(d, meta)
}

func resource{{.name | Title}}Delete(d *schema.ResourceData, meta interface{}) error {
	conn := meta.(*conns.AWSClient).{{.pkg | Title}}Conn

	return nil
}